.wd-connect-w-network-r{padding:20px 18px 12px 28px}
.wd-connect-w-network-rl{list-style: none outside none;margin:0;padding:0;}
.wd-connect-w-network-rl .wd-connect-network-item{display:block;font-size:14px;overflow:hidden;margin-bottom:10px}
.wd-connect-w-network-rl .wd-connect-network-item span{float:left}
.wd-connect-w-network-rl .wd-connect-network-item .wd-icon-network-47{margin-right:10px}
.wd-connect-w-network-rl .wd-connect-network-item .wd-value{color:#000;font-weight:bold;margin-right:4px;margin-top:15px}
.wd-connect-w-network-rl .wd-connect-network-item .wd-title{color:#858585;margin-top:15px}