.wd-contain-content{overflow:visible;}
.wd-create-node-content{padding:20px;background:#fff;}
.wd-input-name-article input{width:98%;border:1px solid #ddd;border-radius:3px;padding:10px 1%;font-weight:bold;font-size:16px;}
.wd-headline-submit .wd-tt-l1{padding:15px;}
.wd-headaction-buttons{padding:8px;}
.wd-link-upload{margin:20px 0;font-size:14px;}
.wd-edit-add{background:url("../img/front/bg-sprite.png") no-repeat scroll -589px -102px transparent;display:inline-block;width:11px;height:14px;margin-right:8px;}