.wd-add-info-you-know{width:700px;}
.wd-add-info-you-know h2{font-family:'Helvetica LT Std','Arial';}
.wd-add-info-you-know .wd-pagelet-stream-form{padding:15px 0 0 28px;display:none;}
.wd-add-info-you-know .wd-search-activities-content{height:100px;}
.wd-add-info-you-know .wd-activities-bt{box-shadow:none;border-radius:0;border:1px solid #D9D9D9;width:400px;padding:10px 10px 9px;}
.wd-add-info-you-know .wd-search-activities-toggle{box-shadow:none;border-radius:0;border:1px solid #D9D9D9;width:397px;top:35px;}
.wd-add-info-you-know .wd-search-activities-toggle ul li{border:none;}
.wd-add-info-you-know .wd-search-activities-toggle ul li a{font-size:14px;}
.wd-add-info-you-know .wd-main-form{padding:0;}
.wd-add-info-you-know .wd-input-add-new-colleague{margin:8px 28px 8px 0;padding:18px 20px;border:1px solid #d9d9d9;display:none;}
.wd-add-info-you-know .wd-input-add-new-colleague label{display:block;font-size:12px;padding-bottom:8px;}
.wd-add-info-you-know .wd-input-add-new-colleague input{box-shadow:none;border:1px solid #d9d9d9;padding:5px 8px;width:96%;}
.wd-add-info-you-know .wd-input-add-new-colleague input:focus{border-color:#f1612d;}
.wd-add-info-you-know .wd-dis{font-family:'Helvetica LT Std','Arial';}
.wd-add-info-you-know .wd-dis a{font-weight:bold;color:#000;}