.wd-makerpage-objectnode-rightlc{position:relative;padding:28px 30px 15px}
.wd-makerpage-objectnode-rightlc .wd-makerpage-objectnode-arrowleft{background:url(../img/front/bg-sprite.png) no-repeat -561px -19px;display:block;height:15px;left:-7px;overflow:hidden;position:absolute;text-indent:-1983px;top:51px;width:8px;}
.wd-makerpage-objectnode-rightlc-content{overflow:hidden}
.wd-makerpage-objectnode-rightlc-content .wd-avatar{float:left;margin-right:10px}
.wd-makerpage-objectnode-rightlc-content .wd-avatar img{height:54px;width:54px;-moz-border-radius:30px;-webkit-border-radius:30px;border-radius:30px;}
.wd-makerpage-objectnode-rightlc-content .wd-makerpage-objectnode-info{font-size:12px}
.wd-makerpage-objectnode-rightlc-content .wd-makerpage-objectnode-info h4{font-size:14px}

.wd-makerpage-objectnode-rightlc-action{background:url(../img/front/bg-tree-objn-1.png) no-repeat 0 0;float:left;padding-left:70px;min-height:68px}
.wd-makerpage-objectnode-rightlc-action .wd-user-interaction-status{padding:13px 0}
.wd-makerpage-objectnode-rightlc-action .wd-user-interaction-status li{padding-right:0}
.wd-makerpage-objectnode-rightlc-action .wd-user-interaction-status li .wd-icon-1{margin-right:6px}
.wd-makerpage-objectnode-rightlc-action .wd-user-interaction-status li .wd-value{color:#464646;font-size:12px}