.wd-peoples-interacted{border-top:1px solid #e5e5e5;padding:0 17px 10px;overflow:hidden;}
.wd-peoples-interacted p{float:left;margin:22px 10px 0 0;color:#7d7d7d;}
.wd-list-peoples-interacted{list-style:none}
.wd-list-peoples-interacted li{float:left;margin-right:10px;}
.wd-list-peoples-interacted li img{border:3px solid #e3e3e3;border-radius:20px;}