.wd-st-pp{display:none;}
.wd-container-popup{margin:0 auto;position:relative;width:700px;border:6px solid #5b5b5b; -moz-border-radius:5px;-webkit-border-radius:5px; border-radius:5px;}
.wd-popup-content{background-color:#fff;padding:0}
.wd-container-popup .mfp-close {background:url(../img/front/bg-sprite.png) no-repeat  -341px -191px; height: 9px; overflow: hidden; text-indent: -9999px;top:10px; width: 9px; z-index: 5;font-size:0}
.wd-container-popup .mfp-close:hover{background-position:-380px -195px}

.wd-container-popup .wd-tt-pp-3{margin:0 30px 25px;}
.wd-container-popup .wd-tt-pp-1{margin-bottom:15px}
.wd-popup-content .wd-submit-cm{overflow:hidden}

.wd-pp-pd4{padding:45px}
.wd-bt-confirm{padding-top:32px;text-align:center}
.wd-bt-confirm input{color:#fff;cursor:pointer;font-size:20px; font-weight:bold; padding:10px 45px 10px; -moz-border-radius:3px;-webkit-border-radius:3px; border-radius:3px;}

.wd-bt-confirm input.btcf-save{background-color:#79bd42;border:1px solid #5c992b;text-shadow:0px 0px 2px #588e2d;margin-right:5px}
.wd-bt-confirm input.btcf-save:hover{background-color:#6aaa36;}
.wd-bt-confirm input.btcf-cancel{background-color:#9f9f9f;border:1px solid #888888;text-shadow:0px 0px 2px #517833;}
.wd-bt-confirm input.btcf-cancel:hover{background-color:#949393;}
.wd-container-popup .wd-form-content .wd-dis{font-size:16px;font-weight:100;margin-top:15px}
.wd-container-popup .wd-form-content .wd-dis span{color:#ef0000}

.btn-signin{background-color:#e45826;border:1px solid #c8491b;color:#fff;font-size:20px;font-weight:bold; padding:12px 45px;-moz-border-radius:5px;-webkit-border-radius:5px; border-radius:5px;text-shadow:2px 2px 2px #bc4920;margin-right:20px;cursor:pointer}
.wd-container-popup div.wd-submit .btn-signin{float:left}
/* share*/
.wd-share-container-popup{width:548px}
.wd-share-container-popup .wd-popup-content{padding:0}
.wd-share-container-popup .wd-tt-pp-1{background:url(../img/front/bg-share-popup.jpg) repeat #eaeaea;border-bottom:1px solid #dfdfdf;color:#000;font-size:20px;padding:20px 15px 16px;text-transform:uppercase}
.wd-share-pp-content .wd-label-sh{float:left;margin-top:9px}
.wd-share-header-pp{background-color:#f8f8f8;border-bottom:1px solid #dfdfdf;padding:6px 15px 5px;position:relative}
.wd-share-header-pp .wd-label-sh .wd-share-bt{float:left;margin-right:10px}
.wd-share-header-pp .wd-label-sh .wd-text{color:#000;font-size:12px;font-weight:bold;float:left;margin-right:10px}
.wd-share-header-pp .wd-arrow-down{background: url("../img/front/bg-sprite.png") no-repeat scroll -540px -96px transparent; height:6px; overflow: hidden; text-indent: -9999px; width: 11px; z-index: 5; position: absolute;left: 50px;  bottom:-6px;font-size:0}
.wd-tags-select{float:left;position:relative;z-index:15}
.wd-tags-select .wd-tags-selected{background-color:#fff;border:1px solid #d4d4d4;color:#4c4c4c;display:block;float:left;font-size:12px;padding:6px 22px 6px 10px;position:relative;width:130px; 
-moz-border-radius:3px;-webkit-border-radius:3px; border-radius:3px;}
.wd-tags-select .wd-tags-selected:hover{text-decoration:none}
.wd-tags-select .wd-tags-selected .wd-arrow{background: url("../img/front/bg-sprite.png") no-repeat scroll -529px -94px transparent; height:10px; overflow: hidden; text-indent: -9999px; width: 7px; z-index: 5; position: absolute;right: 15px;top:9px;font-size:0}

.wd-tag-list{background-color:#fff;border:1px solid #C6C6C6;color:#4c4c4c;display:none;font-size:12px;position:absolute;top:39px;left:0;width:100%; -moz-border-radius:3px;-webkit-border-radius:3px; border-radius:3px;-moz-box-shadow:0px 1px 3px #777777;-webkit-box-shadow:0px 1px 3px #777777; box-shadow:0px 1px 3px #777777;z-index:16}
.wd-tag-list .wd-uparrow-1{background:url(../img/front/bg-sprite.png) -189px -56px no-repeat; display:block;position:absolute;top:-7px;right:32px;height:7px;width:11px}
.wd-tag-list ul.wd-select{list-style: none outside none;margin:0;padding:5px 0;}
.wd-tag-list ul.wd-select li{padding:0}
.wd-tag-list ul.wd-select li a{color:#616161;display:block;padding:5px 16px;font-size:12px;min-width:105px;font-weight:normal}
.wd-tag-list ul.wd-select li a:hover{background-color:#e7e7e7;color:#000;text-decoration:none}

.wd-tags-content{border-bottom:1px solid #dfdfdf;padding:8px 15px 5px;position:relative;z-index:14}
.wd-user-tags{background-color:#fffae2;border:1px solid #eea58a;color:#4c4b43;display:block;float:left;font-size:12px;margin-right:7px;margin-bottom:7px;padding:3px 30px 3px 3px; position:relative; -moz-border-radius:3px;-webkit-border-radius:3px; border-radius:3px;line-height:20px}
.wd-user-tags img{float:left;margin-right:6px}
.wd-user-tags .wd-remove{background: url("../img/front/bg-sprite.png") no-repeat scroll -545px -84px transparent;display:block; height:9px; overflow: hidden; text-indent: -9999px; width: 9px; z-index: 5; position: absolute;right: 10px;top:9px;font-size:0}
.wd-tags-content .wd-input{min-width:115px;overflow:hidden;padding:0 10px 0 0}
.wd-tags-content .wd-input-tag{background-color:#fff;border:none #fff;color:#4c4c4c;float:left;font-size:12px;font-weight:bold;width:100%;padding:8px 0 6px; }
.wd-tags-content .wd-sp{float:left;font-weight:bold;font-size:18px;margin-top:9px;margin-right:6px}

.wd-user-tag-position{background-color:#fff;clear:both;position:relative}
.wd-user-tags-list{background-color:#fff;left:0;display:none;top:0;position:absolute;width:100%;z-index:18;max-height:260px}
.wd-user-tags-list .wd-compact{list-style: none outside none;margin:0;padding:0}
.wd-user-tags-list .wd-compact li.wd-user{border-bottom:1px solid #dfdfdf;cursor:pointer;font-size:12px;line-height:15px;padding:5px 15px 5px 66px;overflow:hidden;min-height:40px;position:relative;}
.wd-user-tags-list .wd-compact li.wd-select,.wd-user-tags-list .wd-compact li.wd-user:hover{background-color:#ecf4f5}
.wd-user-tags-list .wd-compact li.wd-user img.wd-avatar{border:3px solid #e1e1e1;-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;width:34px;height:34px;position:absolute;top:5px;left:13px}
.wd-user-tags-list .wd-compact li.wd-user:hover img.wd-avatar {border-color:#f98b64}
.wd-user-tags-list .wd-compact li.wd-user .wd-text{color:#0088c1;display:block;margin-top:5px}
.wd-user-tags-list .wd-compact li.wd-user .wd-subtext{color:#7c7c7c;font-size:11px;display:block}

.wd-share-composer-inputbox {background-color:#fff;border-bottom:1px solid #dfdfdf;padding:16px 14px 14px}
.wd-share-composer-inputbox textarea{ -moz-box-sizing: border-box; background-color: transparent;font-size:12px;color:#4c4c4c; border: 0 none; outline: 0 none;display:block;max-width: 100%;margin: 0;padding: 0; width: 100%;height:20px;resize: none; }

.wd-share-pp-content .wd-post-privacy-setting,.wd-share-pp-content .wd-list-composerAudienceWrapper li .wd-stat_elem .wd-selector-button.wd-toggle-bt-active{-moz-box-shadow: none;-webkit-box-shadow:none;box-shadow:none}

.wd-add-interest-container-popup {width:736px;}
.wd-add-interest-container-popup .wd-popup-content{padding:30px 17px;}
.wd-add-interest-container-popup fieldset.wd-main-form{padding:0 20px}

.wd-add-interest-container-popup .wd-dis{color:#3b3b3b;font-size:16px;padding-left:30px;padding-right:30px}
.wd-add-interest .wd-input-search{border:1px solid #d6d6d6;margin:15px 10px 20px;-moz-box-shadow:none;-webkit-box-shadow: none; box-shadow: none;width:450px; -moz-border-radius:0;-webkit-border-radius:0; border-radius:0;}
.wd-add-interest .wd-input-search input.wd-text-search{width:420px}

/* change password */
.wd-change-password{width:600px}