.wd-signup-complete-content{text-align:center;margin:30px auto 0;width:500px}
.wd-signup-complete-content .wd-icon-block-4,.wd-signup-complete-content .wd-icon-block-5{margin:0 auto 50px;}
.wd-signup-complete-content .wd-icon-block-5{margin-bottom:30px}
.wd-signup-complete-content .wd-mess{font-size:24px;line-height:43px;margin-bottom:50px}
.wd-signup-complete-content .wd-mess .wd-text-strong{font-weight:bold}
.wd-signup-complete-content .wd-mess .wd-email-link{color:#0079b7;font-weight:bold}