.wd-topinfo-article{font-size:13px;overflow:hidden}
.wd-photo-article{float:left;margin-right:14px}
.wd-topinfo-article-r{overflow:hidden;font-size:14px}
.wd-topinfo-article .wd-posted-date{color:#808080;padding:4px 0 8px}
.wd-topinfo-article .wd-pp-like-content{margin-bottom:3px}