.wd-viewallarticle-topsearch-form{padding:20px 26px 20px 24px}
.wd-pagelet-stream-articles{padding:0 24px}
.wd-streamstory-articles{list-style: none outside none;margin:0;padding:0;overflow:hidden}
.wd-streamstory-articles-item{height:193px;float:left;width:48.5%;margin-left:3%;padding-bottom:20px}
.wd-streamstory-articles .wd-pagelet-composer{border-color:#cbcbcb;border-top:none 0;border-left:none 0;}
.wd-streamstory-articles .wd-list-composer li.wd-composer-post{border-right:0}