.wd-viewallobjn-topsearch-form{padding:20px 26px 20px 24px}
.wd-pagelet-stream-wiew{position:relative;width:98%;margin:0 auto}
.wd-streamstory-lo2{list-style: none outside none;margin:0;padding:0;overflow:hidden}
.wd-streamstory-lo2-item{padding-bottom:20px;width:48.5%}
.wd-streamstory-lo2 .wd-pagelet-composer{border-color:#cbcbcb;border-top:none 0;border-left:none 0;}
.wd-streamstory-lo2 .wd-list-composer li.wd-composer-post{border-right:0}